<b>Pandas之常用统计方法</b>

In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('excel-comp-data.xlsx',encoding='gbk')
data

,id,name,street,city,state,postal-code,Jan,Feb,Mar,year
0,211829,Kerluke,34456 Sean Highway,New Jaycob,Texas,28752.0,10000.0,62000,35000,2006
1,320563,Walter,1311 Alvis Tunnel,Hyattburgh,Texas,38365.0,95000.0,45000,35000,2006
2,648336,Bashirian,62184 Schamberger Underpass Apt. 231,New Lilianland,Iowa,76517.0,NaN,120000,35000,2007
3,109996,Bode,155 Fadel Crescent Apt. 144,Hyattburgh,Texas,NaN,45000.0,120000,10000,2007
4,121213,Bauch,7274 Marissa Common,Shanahanchester,Iowa,49681.0,162000.0,120000,35000,2008

常用的一些方法：  

| 方法名        | 解释        |
| -------------   |:-------------:|
| count    | 非 NA 值的数量     |
| describe  | 针对 Series 或 DF 的列计算汇总统计|
| min , max | 最小值和最大值     |
| argmin , argmax | 最小值和最大值的索引位置（整数）|
| idxmin , idxmax | 最小值和最大值的索引值     |
| quantile  | 样本分位数（0 到 1）     |
| sum     | 求和            |
| mean     | 均值           |
| median   | 中位数           |
| mad     | 根据均值计算平均绝对离差     |
| var     | 方差     |
| std     | 标准差     |
| skew    | 样本值的偏度（三阶矩）     |
|kurt	   |样本值的峰度（四阶矩）
|cumsum	   |样本值的累计和|
|cummin , cummax|	样本值的累计最大值和累计最小值|
|cumprod	|样本值的累计积|
|diff	|计算一阶差分（对时间序列很有用）|
|pct_change|	计算百分数变化|

In [3]:
data.describe()

,id,postal-code,Jan,Feb,Mar,year
count,5.000000,4.000000,4.000000,5.00000,5.000000,5.00000
mean,282387.400000,48328.750000,78000.000000,93400.00000,30000.000000,2006.80000
std,221387.795563,20647.287738,65974.742642,36916.12114,11180.339887,0.83666
min,109996.000000,28752.000000,10000.000000,45000.00000,10000.000000,2006.00000
25%,121213.000000,35961.750000,36250.000000,62000.00000,35000.000000,2006.00000
50%,211829.000000,44023.000000,70000.000000,120000.00000,35000.000000,2007.00000
75%,320563.000000,56390.000000,111750.000000,120000.00000,35000.000000,2007.00000
max,648336.000000,76517.000000,162000.000000,120000.00000,35000.000000,2008.00000

In [4]:
data.sum()

id                                                       1411937
name                             KerlukeWalterBashirianBodeBauch
street         34456 Sean Highway1311 Alvis Tunnel62184 Scham...
city           New JaycobHyattburghNew LilianlandHyattburghSh...
state                                    TexasTexasIowaTexasIowa
postal-code                                               193315
Jan                                                       312000
Feb                                                       467000
Mar                                                       150000
year                                                       10034
dtype: object

In [5]:
data.mean()

id             282387.40
postal-code     48328.75
Jan             78000.00
Feb             93400.00
Mar             30000.00
year             2006.80
dtype: float64

<b>协方差和相关系数</b>

Series和DataFrame都有cov方法，用于计算两个序列的协方差，Series的cov方法的的参数有两个，other表示要传入的另一个Series，min_periods表示样本量的下限，低于此值的不进行运算。DataFrame的cov方法只有一个参数min_periods，DataFrame 的这两个方法会对列进行两两运算。

In [6]:
data.id.cov(data.year)

-32197.900000000001

In [7]:
data.cov()

,id,postal-code,Jan,Feb,Mar,year
id,4.901256e+10,3.699478e+09,-8.009257e+08,3.073043e+08,1.077446e+09,-32197.900000
postal-code,3.699478e+09,4.263105e+08,7.927475e+08,6.275776e+08,0.000000e+00,10297.583333
Jan,-8.009257e+08,7.927475e+08,4.352667e+09,8.896667e+08,2.750000e+08,45000.000000
Feb,3.073043e+08,6.275776e+08,8.896667e+08,1.362800e+09,-1.662500e+08,26600.000000
Mar,1.077446e+09,0.000000e+00,2.750000e+08,-1.662500e+08,1.250000e+08,-1250.000000
year,-3.219790e+04,1.029758e+04,4.500000e+04,2.660000e+04,-1.250000e+03,0.700000

对比下计算结果，发现两个计算结果是一样的。

corr方法用于计算两个序列的相关系数，method方法指定计算的相关系数类型，默认为pearson。

In [8]:
data.id.corr(data.year)

-0.17383004850199554

In [9]:
data.corr()

                   id  postal-code       Jan       Feb       Mar      year
id           1.000000     0.778527 -0.124221  0.037601  0.435298 -0.173830
postal-code  0.778527     1.000000  0.993371  0.779043       NaN  0.520915
Jan         -0.124221     0.993371  1.000000  0.345626  0.333461  0.712408
Feb          0.037601     0.779043  0.345626  1.000000 -0.402801  0.861225
Mar          0.435298          NaN  0.333461 -0.402801  1.000000 -0.133631
year        -0.173830     0.520915  0.712408  0.861225 -0.133631  1.000000